body {
   color:#24292e;
   background-color: #fafafa;
   font-size: 18px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   width: 1080px;
   box-sizing: border-box;
   border: 0;
   padding: 0;
   margin: 0 auto;
   text-align: justify;
}
a {
   text-decoration: none;       /* esto saca el subrayado por defaoult de los links*/
   color: #3c964a;
}
header {
   width:100%;
   align-content:center;
}
.green-background {
   background: rgb(252,254,252);
   background: linear-gradient(0deg, rgba(252,254,252,1) 3%, rgba(255,255,255,1) 10%, rgba(142,225,155,1) 82%);
}
header >p:first-child {           /* para el titulo del diario MENEM LO HIZO en top*/
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 2.5em;
   font-weight: bold;
   color: #fafafa; 
   margin: 0;
   padding: 45px 0px;
}

ul {
   width: 990px;
   margin: 0 auto;
   padding: 40px;
}
li {  
   float: left;
   list-style-type: none;    /* saca los iconos por defapult de la ul*/
   font-size: 0.85em;
   height: fit-content;
   margin: 0 auto;
   padding: 5px;
   border-left: 0.5px solid #8ee19b;
}
.text-color {
   color: #8ee19b;
}
.violet {
   color: #3c964a;
   font-weight: bold;
}

a:hover {
   border-bottom: 1px solid;
   text-decoration: underline;
 }

h1 {
   font-size: 2em;
   margin-top: 20px;
   text-align: center;
}
.smaller-image {
   width: 420px;
}
.larger-image {
   width: 990px;
   margin:unset;
}
h2 {
   font-size: 1.75em;
}
h3 {
   font-size: 1.4em;
}
.publicidad {
   font-size: 0.5em;
   margin-top: 60px;
   margin-bottom: 15px;
}

.fecha {         /*esto seria para cambiar formato de la fecha/hora*/
   margin-bottom: 30px;
   margin-top: 30px;
   color:#808080;
   font-size: 0.75em;
}
.por {         /*esto seria para cambiar formato 'por Orne m - Flor G' */
   margin-top: 25px;
}

footer {
   background: rgb(142,225,155);
   background: linear-gradient(0deg, rgba(142,225,155,1) 12%, rgba(255,255,255,1) 79%, rgba(252,254,252,1) 96%);
   padding-bottom: 30px;
   padding-left: 15px;
}
hr {      /* terminado */
   margin-top: 45px;
   border: .5px solid #808080;
   width: 80%;
   opacity: 0.3;
}
footer >p:nth-child(0n+3) { /*terminado */
   text-align: center;
}
