* {
    color:#414141;
    background-color: floralwhite;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
nav {
    text-decoration: none
 }
/* img  
    width:420px;
 } */
ul{
    list-style-type: none
 }

.smaller-image {
   width: 520px;

}